
	<img src="/images/logo.png"/><br />
	<form xmlns="http://www.w3.org/1999/xhtml" action="http://m.baidu.com/s" method="get" _lpchecked="1">
		<input type="text" name="word" size="18" /><br />
		<input type="submit" value="百度一下" name="ct_1" />
		<input type="submit" value="搜Wap" name="ct_2" />
		<input type="hidden" name="itj" value="6" />
		<input type="hidden" value="111041" name="st_1" />
		<input type="hidden" value="102041" name="st_2" />
		<input type="hidden" value="webmain" name="tn_1" />
		<input type="hidden" value="fwapadv" name="tn_2" />
		<input type="hidden" name="from" value="381b_w1" />
		<input type="hidden" name="bd_page_type" value="1" />
	</form>
		
		<% SoftwareType.where(:parent_id => nil ).order(:show_order).each do |main_type| %>
		<div class="con">
			<div class="yztitle">
				<%= main_type.title %>
				<a href="/softwares/<%= main_type.id %>">&gt;&gt;</a>
			</div>
		</div>
		
			<% main_type.children.each do |t| %>
				<a href=""><%= t.title%></a>&nbsp;:&nbsp;
				<% t.softwares.order('show_order desc').limit(4).each do |s| %>
					<a href="/software/<%= s.id %>"><%= s.title %></a>&nbsp;
				<% end %>
				<br />
			<% end %>
		<% end %>
		
		
		
